.register-container {
  margin-top: 10px; }
  .register-container .logo {
    margin: 60px auto 20px auto;
    padding: 15px;
    text-align: center; }
  .register-container .content {
    background-color: #fff;
    width: 360px;
    margin: 0 auto 0px;
    padding: 20px 30px 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px; }
    .register-container .content .title {
      font-weight: 300;
      margin-bottom: 25px;
      color: #e1293d; }
    .register-container .content .field {
      border-left: 2px solid #009444;
      border-radius: 4px; }
    .register-container .content .remember {
      background-color: #fff;
      clear: both;
      border: 0;
      border-bottom: 1px solid #eee;
      padding: 0 30px 20px 30px;
      margin-left: -30px;
      margin-right: -30px; }
    .register-container .content .login-button {
      float: left;
      display: inline;
      margin-top: 1px;
      background-color: #fff;
      color: #000;
      border: 1px solid lightgray; }
    .register-container .content .register-button {
      float: right;
      display: inline;
      margin-top: 1px;
      color: #fff;
      background-color: #e1293d;
      border-color: #e1293d; }
  .register-container .footer {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: #ffffff;
    font-size: 13px; }
